@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}
img {
  border: 2px solid red !important; /* Highlight images */
  max-width: 100% !important; /* Ensure images are not too large */
  height: auto !important; /* Ensure height is not forced */
}